body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#FFD900
}

header{
    padding: 15px;
}

#sec01{
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    margin-top: 5px;
    margin-left: -15px;
}

#descricao{
    text-align: center;
    background-color:#514988;
    color: white;
    padding-top: 10x;
    padding-right: 20px;
    padding-left: 32px;
    padding-bottom: 30px;
    height: 729px;
}

#titulo{
    margin: 5px;
    color: #FFD900;
    font-size: 40px;
}

#data{
    margin-top: 20px;
    font-size: 35px;
}

#conteudo{
    margin-top: 20px;
    font-size: 45px;
    padding: 10px;
}

#contador{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background-color: white;
}

.cd-item{
    color:#514988;
    font-size:38px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#subtitulo{
    margin-top: -20px;
    margin-bottom: -10px;
    padding-left: 15px;
    padding-bottom: 5px;
    background-color: white;
    color: #E44881
}

#video{
    margin-top: -15px;
    margin-bottom: -15px;
    margin-right: -15px;
    background-color: white;
    height: 10px;
}

#compra{
    display:inline;
    grid-auto-flow: column;
    background-color: white;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 100px;

}

#subtitulo_ingressos{
    color: FFD900;
    padding: 15px;
    margin-left: 20px;

}

button{
    margin:30px;
    width: 300px;
    height: 70px;
    font-size: 30px;
    border-radius:20px ;
    color: white;
    margin-top:10rem;
    background-color:#514988

}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}